body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sec01 {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: orangered;
}

p {
  text-align: justify;
  width: 50ch;
}
